<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p>The journey begins!</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get New Data!</a></p>
    </div>
    
    <div class= "row">
        <div class= "col-md-12">
            <h2>Latest Mars News</h2>
                <h4>{{}}</h4>
                    <p>{{}}</p>
        </div>
    </div>

    <div class= "row">
        <div class= "col-md-8">
            <h3>Featured Mars Image</h3>
            <img src= "{{}}", alt = "Mars Image">
        </div>
        <div class= "col-md-4">
            <h3>Mars Facts</h3>
            <table> {{}}</table>
        </div>
    </div>
    <!--insert table and format?  -->
    
    <div class= "row">
        <div class= "col-md-12">
            <h2><center>Mars Hemispheres</center></h2>
        </div>
    </div>

    <!-- add for loop to insert images and titles? -->
    <div class= "col-md-6">
        <div class= "thumbnail">
            <img src= "{{}}", alt = "Hemisphere  Image">
                <h3>{{}}</h3>
        </div>
    </div>   

    <div class= "row">
        <div class= "col-md-6">
            <img src= "{{}}", alt = "Hemisphere 1 Image">
            <h3>{{}}</h3>
        </div>
        <div class= "col-md-6">
            <img src= "{{}}", alt = "Hemisphere  Image">
            <h3>{{}}</h3>
        </div>
    </div>
    
    <div class= "row">
        <div class= "col-md-6">
            <img src= "{{}}", alt = "Hemisphere  Image">
            <h3>{{}}</h3>
        </div>
        <div class= "col-md-6">
            <div class= "thumbnail">
                <img src= "{{}}", alt = "Hemisphere  Image">
                    <h3>{{}}</h3>
                </div>
        </div>
    </div>
     <!--hemisphere formatting  -->

  </div>
</div>
</body>

</html>
